
body{
	background-color: lightblue;
}

fieldset{
	margin-top: 10px;
	outline-style: outset;
}

.main-header {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.video-player{
	display:block; 
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.text-area-div{
	align = center;
	margin: 0 auto;
	margin-bottom: 40px;

}

.answer{
	align = center;
	max-width: 640px;
	max-height: 480px;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 40px;
}

.load-movies-button{
	margin:auto;
	display:block;
	height: 10%;
	width: 10%;
	margin-top: 40px;
	margin-bottom: 40px;
}

.load-movies-button-wrapper{
	text-align: center;
}

.log-div
{
	text-align: center;
	align = center;
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 40px;
}

.upload-vid{
	
	text-align: center;
	align = center;
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 40px;
	outline-style: outset;
}

.select-upload-vid{
	align = center;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 10px;
}